/* import design css */
@import "./assets/css/loginPage.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* homepage hero-section */
.homepage-hero-section {
  height: calc(100vh - 64px);
}