/* import design css */
@import "./assets/css/global.css";
@import "./assets/css/loginPage.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* homepage hero-section */
.homepage-hero-section {
  height: calc(100vh - 80px);
}

.dashboard-sidebar a.active {
  @apply bg-emerald-500;
  @apply text-white;
}